.select {
  position: relative;
  border: 1px solid var(--color-grey);
  height: calc(2.5rem + 2px);
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  outline: none;
}

.select:focus {
  border-color: var(--color-blue);
}

.select:focus > .selectLabel {
  color: var(--color-blue);
}

.value {
  flex-grow: 1;
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}

.caret {
  translate: 0 25%;
  border: .4rem solid transparent;
  border-top-color: var(--color-grey);
}

.options {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  max-height: 15rem;
  overflow-y: auto;
  border: .05rem solid var(--color-grey);
  border-radius: .25rem;
  width: 100%;
  left: 0;
  top: calc(100% + .25rem);
  background-color: #fff;
  z-index: 100;
}

.options.show {
  display: block;
}

.option {
  padding: .25rem .5rem;
  cursor: pointer;
}

.option.selected {
  background-color: var(--color-blue);
}

.option.highlighted {
  background-color: var(--color-blue);
  filter: brightness(110%);
  color: #fff;
}

.option-badge {
  display: flex;
  align-items: center;
  border: .05rem solid var(--color-grey);
  border-radius: .25rem;
  padding: 0 .25rem;
  gap: .25rem;
  cursor: pointer;
  background: none;
  outline: none;
}

.option-badge:hover,
.option-badge:focus {
  background-color: #ffcccc;
  border-color: var(--color-red);
}

.option-badge:hover > .remove-btn,
.option-badge:focus > .remove-btn{
  background-color: #ffcccc;
  color: var(--color-red);
}

.selectLabel {
  position: absolute;
  top: 50%;
  left: 0.3125rem;
  display: flex;
  transform: translateY(-50%);
  pointer-events: none;
  border: none;
  background-color: #fff;
  color: #757575;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition: top 0.1s ease-in-out, scale 0.1s ease-in-out;
}

.select:focus > .selectLabel{
  top: 0;
  transform: translateY(-55%) scale(0.75);
}
.selectLabelTop {
  top: 0;
  transform: translateY(-55%) scale(0.75);
}

/* validation */
.select.selectInvalid {
  border-color: var(--color-red);
}

.select.selectInvalid > .selectLabel{
  color: var(--color-red);
}
